---
layout: default
title: Daniel's Blog
---

<img class="mt-8 w-24 h-24 rounded-full object-cover" src="{{
"/assets/images/profile-pic.jpg" }}" />
<h1>Hi, I'm Daniel.</h1>
<p>
  I'm a Software Developer based in Vienna. At my current job I am working as a
  Full Stack Developer mostly with React (TypeScript) on our Frontend and
  Phoenix (Elixir) on our Backend. In my free time I'm exploring and playing
  with C# and Rust.
</p>
<section class="flex items-center not-prose">
  {% for item in site.data.sociallinks %}
  <span class="flex items-center mr-4">
    <img src="/assets/images/{{ item.icon }}.svg" height="20" width="20" />
    <a
      href="{{ item.link }}"
      class="ml-2 text-sm no-underline hover:underline"
      target="_blank"
    >
      {{ item.name }}</a
    >
  </span>
  {% endfor %}
</section>
<hr />
<h2>Newest Posts</h2>
<section class="not-prose pb-16">
  <ul class="list-none">
    {% for post in site.posts limit: 2 %}
    <li>
      <a
        class="flex items-center justify-between -mx-0 md:-mx-4 py-2 px-0 md:px-4 group hover:bg-slate-800 rounded"
        href="{{ post.url }}"
      >
        <span class="flex flex-col">
          <time class="dark:text-slate-400 text-sm"
            >{{ post.date | date_to_string }}</time
          >
          <h3 class="m-0 group-hover:text-white">{{ post.title }}</h3>
        </span>
        <span class="flex items-center">
          {% for tag in post.tags %}
          <span
            class="ml-2 inline-block align-top rounded-full px-2 bg-slate-300 text-sm text-slate-700"
            >{{ tag }}</span
          >
          {% endfor %}
        </span>
      </a>
    </li>
    {% endfor %}
  </ul>
</section>
